@import "./link.css";
@import "./main.css";

.main-container {
  padding-block-start: 4rem;
  max-width: 1300px;
  margin: auto;
  padding: 0 7rem;
}

.wrapper {
  max-width: 85.375rem;
  margin: auto;
}
