.main-content {
  margin-inline-start: 2.75rem;
  inline-size: 56.25rem;
  display: inline-block;
  width: 75%;
}

.hr {
  margin-block-end: 4rem;
  margin-block-start: 4rem;
  border: 1px solid rgba(61, 61, 61, 0.2);
}

.presentation h1 {
  font: var(--h1);
  color: var(--colorPrimary);
  margin-top: 0;
  line-height: 4.5rem;
}

.presentation h1::after {
  content: "";
  height: 5px;
  width: 5px;
  background: black;
}

.presentation p {
  font: var(--text);
  color: var(--colorPrimary);
}

.tool {
  margin-block-end: 2.5rem;
  margin-block-start: 2.5rem;
}

.tools-img {
  background: #000000;
  padding-block-end: 1rem;
  padding-block-start: 1rem;
  padding-inline-end: 0.75rem;
  padding-inline-start: 0.75rem;
  border-radius: 50%;
  inline-size: 5rem;
  block-size: 5rem;
  box-sizing: border-box;
}

.tools-img.figma {
  padding-inline-end: 1.62rem;
  padding-inline-start: 1.62rem;
  padding-block-end: 1.25rem;
  padding-block-start: 1.25rem;
}

.tool-title {
  margin-block-end: 1rem;
  margin-block-start: 1rem;
  position: relative;
  line-height: 2.4rem;
}

.tool h3 {
  margin-block-end: 1rem;
  margin-block-start: 2.5rem;
}

.tool p {
  margin-block-end: 1rem;
  margin-block-start: 1rem;
}

.web-development h3 {
  counter-increment: titleList;
}

.web-development h3::before {
  content: counter(titleList) ".";
}

.setup h3 {
  counter-increment: titleList;
}

.setup h3::before {
  content: counter(titleList) ".";
}

.setup img {
  margin-block-start: 2.5rem;
}

.setup h2 {
  margin-block-end: 0;
}

.tool-title::after {
  content: "";
  width: 5rem;
  height: 0.25rem;
  display: inline-block;
  background: var(--colorPrimary);
  position: absolute;
  left: 0;
  bottom: 0;
}

.pre {
  background: #fec62e;
  padding-block-end: 2.5rem;
  padding-block-start: 2.5rem;
  padding-inline-end: 2.5rem;
  padding-inline-start: 2.5rem;
}

.tool-description {
  margin: 0;
}

.image-dom {
  width: 100%;
  margin-block-start: 1rem;
}

.tool-description b {
  font: var(--text-bold);
}

.web-development h2 {
  margin-block: 2.5rem;
}

.boxModel h2 {
  margin-block-start: 10.25rem;
}

.boxModel h3 {
  margin-block-start: 2.5rem;
  margin-block-end: 1rem;
}

.contacto p {
  margin: 0;
}

.contacto {
  margin-block-end: 2.5rem;
  margin-block-start: 2.5rem;
}

.subscribe {
  margin-block-start: 2.5rem;
  margin-block-end: 7.06rem;
}

.subscribe-form input[type="text" i] {
  width: 232px;
  padding: 12px 60px 12px 24px;
  border: 1px solid #616161;
  border-radius: 3.5rem;
  margin-inline-end: 1rem;
  box-sizing: border-box;
  height: 100%;
  color: white;
}

.subscribe-form {
  width: 600px;
  position: relative;
}

.subscribe-form button {
  background: black;
  color: white;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  position: absolute;
  margin: 0;
  right: 60px;
  height: 100%;
}

@supports not (backdrop-filter: blur(8px)) {
  .subscribe-form button {
    right: 55px;
    height: 100%;
  }
}

.change-img {
  text-align: center;
  margin-block-start: 1rem;
}

.change-img a {
  display: inline-block;
  margin: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #42424233;
}

.change-img a:active {
  background: black;
}

.images {
  object-fit: cover;
  width: 100%;
  height: 25.25rem;
  overflow: hidden;
}

.images img {
  height: inherit;
  width: 100%;
}

.variants {
  margin-block-end: 6.5rem;
}
.header {
  font-family: var(--fontFamily);
  color: #616161;
}

.header h4 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.87rem;
  line-height: 1.5rem;
  color: #616161;
}

.variants a {
  display: block;
  font-weight: 400;
  font-size: 0.87rem;
  line-height: 1.5rem;
  text-decoration: none;
  color: #616161;
  margin-block-end: 0.5rem;
  margin-block-start: 0.5rem;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  /* bottom: 0; */
}

.contenido a {
  color: #616161;
  text-decoration: none;
  margin-block-end: 1rem;
  margin-block-start: 1rem;
}

.contenido li {
  margin-block-end: 1rem;
  margin-block-start: 1rem;
}

summary {
  margin-block-end: 1.5rem;
  margin-block-start: 1rem;
  cursor: pointer;
}

.contenido ol {
  padding-left: 1.5rem;
}

.essential-concept summary p {
  margin: 0;
  display: inline-block;
  width: 10rem;
  vertical-align: top;
}
.essential-concept summary::marker {
  display: inline-block;
}

.cita {
  border-left: 4px solid#212121;
  padding-inline-start: 1rem;
  margin-block-start: 2rem;
  margin-block-end: 4rem;
}

.contacto a {
  color: #212121;
}

.footer-content.a h2 {
  color: white;
}

.variants a:hover {
  background: black;
  color: white;
  width: 4.37rem;
}

.contenido li a:hover {
  background: #5551ff;
  color: white;
}

@media (max-width: 1200px) {
  .header {
    display: block;
  }
  .main-content {
    width: 100%;
  }
}

@media (max-width: 750px) {
  .subscribe {
    text-align: center;
  }
  .subscribe-form {
    width: 250px;
    margin: auto;
    text-align: center;
  }
  .subscribe-form input {
    display: block;
    margin: 0 0 1rem;
  }

  .subscribe-form button {
    position: relative;
    display: block;
    left: 0;
    height: 41px;
    width: 232px;
  }
  .main-container {
    padding: 4rem 3rem 0 !important ;
  }
}

@media (max-width: 600px) {
  .main-container {
    padding: 4rem 3rem 0 !important;
  }
  .subscribe {
    margin-block-end: 3rem;
  }
}

@media (max-width: 500px) {
  .main-container {
    padding: 4rem 3rem 0 !important ;
  }
  .footer-content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .subscribe {
    margin-block-end: 3rem;
  }
  .images {
    height: 200px;
  }
  .image-dom {
    height: 200px;
  }
  .boxModel h2 {
    margin-block-start: 7rem;
  }
  .presentation h1 {
    font-size: 3.5rem !important;
    margin-top: 4rem;
  }
}

@media (max-width: 450px) {
  .presentation h1 {
    font-size: 2.5rem !important;
    margin-top: 4rem;
  }
  h3 {
    font-size: 1.2rem !important;
  }
  .main-container {
    padding: 4rem 2rem 0 !important ;
  }
  .footer-content h2 {
    font-size: 1.5rem !important;
  }
}
